<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
</head>
<body>
    <form action="/users/signup" method="post">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" required>
        <label for="email">Email</label>
        <input id="email" type="text" name="email" required>
        <label for="password">Password</label>
        <input id="password" type="text" name="password" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>