<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Users Info:</h2>
    <ol>
        <% users.forEach(user => { %>
            <li> Name:<%= user.name %> Email:<%= user.email %> Password:<%= user.password %></li>
            <% }) %>
    </ol>
</body>
</html>